@{
    ViewData["Title"] = "Home Page";
}

@model Hotels.Models.SearchFiltersModel

<div class="form-container generic-containerLanding">
    <div class="form">
        <form class="col">
            <div class="row justify-center mt-1">
                <select class="mr-1" name="city" id="city">
                    <option value="" disabled selected>City</option>
                    @foreach (var item in Model.Cities)
                    {
                        <option value="@item">@item</option>
                    }
                </select>
                <select name="roomType" id="roomType">
                    <option value="" disabled selected>Room Type</option>
                    @foreach (var item in Model.RoomTypes)
                    {
                        <option value="@(item.Item1)">@(item.Item2)</option>
                    }
                </select>
            </div>
            <div class="row justify-center mt-1">
                <input type="text" id="datepicker-2months" class="mr-1" placeholder="Check-in Date" >
                <input type="text" id="datepicker-3months-right" placeholder="Check-out Date">
            </div>
            <div class="row justify-center mt-1">
                <button  asp-controller="RoomList" asp-action="Index" type="submit" class="primary-btn">SEARCH</button>
            </div>
        </form>
    </div>
</div>
