@{
    ViewData["Title"] = "Room Info";
}

@model Hotels.Models.Room

    <div class="roomInfo-container mt-1">
        <div class="hotelBar">
            <div class="hotelBarBox">
                <p style="margin-block-start: 0em; margin-block-end: 0em;" class="no-border">@(Model.Name) - @(Model.City), @(Model.Area)</p>
                <p style="margin-block-start: 0em; margin-block-end: 0em;">Reviews: </p>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
            </div>
            <div class="hotelBarBox">
                <p style="margin-block-start: 0em; margin-block-end: 0em;" class="no-border">Per Night: @(Model.Price)&euro;</p>
            </div>
        </div>
        <div>
            <img src="~/img/@(Model.Photo)" class="resizeImgInfo mt-3">
        </div>
        <div class="roomBar mt-3">
            <div class="box">
                <span style="margin-bottom: 0.3rem;" class="fa fa-male">1</span>
                <div>COUNT OF GUESTS</div>
            </div>
            <div class="vl-dashed">

            </div>
            <div class="box">
                <span style="margin-bottom: 0.3rem;">1</span>
                <div>TYPE OF ROOM</div>
            </div>
            <div class="vl-dashed">

            </div>
            <div class="box">
                <span style="margin-bottom: 0.3rem;">Yes</span>
                <div>PARKING</div>
            </div>
            <div class="vl-dashed">

            </div>
            <div class="box">
                <span style="margin-bottom: 0.3rem;" class="fa fa-wifi">Yes</span>
                <div>WIFI</div>
            </div>
            <div class="vl-dashed">

            </div>
            <div class="box">
                <span style="margin-bottom: 0.3rem;">No</span>
                <div>PET FRIENDLY</div>
            </div>
        </div>
        <div class="vlAuto mt-1 pl-1">
            <p class="mb-1" style="font-size: 22px; font-weight: bold;"> Room Descriprion<p>
            <p>
                Suspendisse a nibh tincidunt, pharetra leo semper, maximus quam. Nunc scelerisque cursus consectetur. Vivamus purus turpis, bibendum eget laoreet sed, tincidunt et risus. Ut elementum vestibulum urna at efficitur. Sed a congue est. Duis vel eros et risus vulputate pellentesque id id massa. Nullam interdum sem interdum urna aliquam, sit amet dapibus nisi iaculis. Suspendisse porttitor rhoncus eleifend. Quisque laoreet eros tincidunt urna varius faucibus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dignissim molestie metus, quis commodo sem commodo ut. Nulla malesuada cursus orci, porttitor fermentum nunc facilisis a.
            </p>
        </div>
        <div class="bookBoxContainer mb-3">
            <div class="room-btn mt-3 ">
                <a>Book It</a>
            </div>
        </div>
        <hl class="dashed mb-3">
            <div class="vlAuto ">
                <div class=" revContainer mt-3 ml-1">
                    <label for="">Reviews</label>
                    <ol>
                        <li>username_default1</li>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <p class="mb-1">Add time: 2/15/2019 11:11:16AM</p>
                        <i>Incredible rooms and view!</i>
                    </ol>
                </div>
            </div>
            <div class="vlAuto ">
                <div class=" revContainer mt-3 ml-1">
                    <label for="">Add review</label>
                    <div class="mt-3 mb-1">
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    <input placeholder="Review">
                    <div class="submitContainer mt-1">
                        <button type="submit" class="primary-btn">Submit</button>
                    </div>
                </div>
            </div>
    </div>
